
@{
    ViewBag.Title = "About US";
}

<section id="headline_breadcrumbs_bar" class="pattern_overlayed">
    <div class="container">
        <div class="row">
            <div class="span12 center_aligned">
                <h2>
                    About Us
                </h2>
            </div>
            <div class="span12 center_aligned">
                <div class="breadcrumbs">
                    <a href="#">Home</a>
                    <span class="circle_delimiter"></span>
                    <span class="current">About Us</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc">
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span6">
                <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.1.4 auto mode -->
                    <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.4">
                        <ul>
                            <!-- SLIDE -->
                            <li data-index="rs-14" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="images/about_us2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="images/about_us2.jpg" alt="" width="755" height="542" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                            <!-- SLIDE -->
                            <li data-index="rs-10" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="images/about_us-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="images/about_us.jpg" alt="" width="755" height="542" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                    <script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
											if(htmlDiv) {
												htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
											}else{
												var htmlDiv = document.createElement("div");
												htmlDiv.innerHTML = "<style>" + htmlDivCss + "";
												document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
											}
                    </script>
                    <script type="text/javascript">
/******************************************
-	PREPARE PLACEHOLDER FOR SLIDER	-
******************************************/

var setREVStartSize=function(){
	try{var e=new Object,i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
		e.c = jQuery('#rev_slider_4_1');
		e.gridwidth = [755];
		e.gridheight = [542];
		e.sliderLayout = "auto";
		if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
	}catch(d){console.log("Failure at Presize of Slider:"+d)}
};
setREVStartSize();
function revslider_showDoubleJqueryError(sliderID) {
	var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
	errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
	errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body option to true.";
	errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
	errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "";
	jQuery(sliderID).show().html(errorMessage);
}
var tpj=jQuery;
tpj.noConflict();
var revapi4;
tpj(document).ready(function() {
	if(tpj("#rev_slider_4_1").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_4_1");
	}else{
		revapi4 = tpj("#rev_slider_4_1").show().revolution({
			sliderType:"standard",
			jsFileLocation:"rs-plugin/js/",
			sliderLayout:"auto",
			dottedOverlay:"none",
			delay:7000,
			navigation: {
				keyboardNavigation:"off",
				keyboard_direction: "horizontal",
				mouseScrollNavigation:"off",
				onHoverStop:"on",
				touch:{
					touchenabled:"on",
					swipe_threshold: 75,
					swipe_min_touches: 1,
					swipe_direction: "horizontal",
					drag_block_vertical: false
				}
				,
				arrows: {
					style:"inspirado",
					enable:true,
					hide_onmobile:false,
					hide_onleave:false,
					tmp:'',
					left: {
						h_align:"right",
						v_align:"bottom",
						h_offset:62,
						v_offset:0
					},
					right: {
						h_align:"right",
						v_align:"bottom",
						h_offset:0,
						v_offset:0
					}
				}
			},
			visibilityLevels:[1240,1024,778,480],
			gridwidth:755,
			gridheight:542,
			lazyType:"none",
			shadow:0,
			spinner:"spinner4",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
});	/*ready*/
                    </script>
                    <script>
	var htmlDivCss = '	#rev_slider_4_1_wrapper .tp-loader.spinner4 div { background-color: #FFFFFF !important; } ';
	var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
	if(htmlDiv) {
		htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
	}
	else{
		var htmlDiv = document.createElement('div');
		htmlDiv.innerHTML = '<style>' + htmlDivCss + '';
		document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
	}
                    </script>
                    <script>
	var htmlDivCss = unescape(".inspirado.tparrows%7B%0A%09background%3A%2300D8FF%3B%0A%20%20%20%20width%3A61px%3B%0A%20%20%20%20height%3A55px%3B%0A%20%20%20%20border%3A1px%20solid%20%2300d8ff%3B%0A%20%09-webkit-transition%3A%20all%20300ms%20ease-in-out%3B%0A%09-moz-transition%3A%20all%20300ms%20ease-in-out%3B%0A%09-o-transition%3A%20all%20300ms%20ease-in-out%3B%0A%09-ms-transition%3A%20all%20300ms%20ease-in-out%3B%0A%09transition%3A%20all%20300ms%20ease-in-out%3B%20%20%20%0A%7D%0A%0A.inspirado.tparrows%3Ahover%7B%0A%09background%3Atransparent%3B%0A%20%20%20%20border%3A1px%20solid%20%2300d8ff%3B%0A%7D%0A%0A.inspirado.tparrows%3Abefore%7B%0A%20%20%20%20line-height%3A55px%3B%0A%20%20%20%20font-size%3A23px%3B%0A%7D%0A%0A");
	var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
	if(htmlDiv) {
		htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
	}
	else{
		var htmlDiv = document.createElement('div');
		htmlDiv.innerHTML = '<style>' + htmlDivCss + '';
		document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
	}
                    </script>
                </div>
                <!-- END REVOLUTION SLIDER -->
                <span class="clear spacer_10"></span>
            </div>
            <div class="tcvpb_column_tc_span6">
                <h3 class="column_title_text_margin title_with_after">
                    OUR MISSION
                </h3>
                <div class="">Our customer-centric approach comes from understanding that our clients need more than technology professionals. We transform your business idea into reality and create amazing thing<br />
Peafowl is an India based software outsourcing company that focuses on highly qualitative, timely delivered and cost-effective offshore software development. With a rich and varied experience in providing offshore software development and project management capabilities and stringent quality standards ensure us to develop solutions that give your business an edge over your competitors. Our global software outsourcing model makes sure we deliver maximum targeted result to YOU.<br />
                 We also We spread our wings in the business of Software Development, Web Designing & Multimedia, E-Commerce Solutions, Search Engine Optimization, Mobile Application Development, Business Software Services etc..<br />
As per our client needs have evolved, we have invested in technology and skilled, As per our record we have happy client with our dedicated staff, from that we have personally engage with each and every client personally
</div>
                <span class="clear spacer_21"></span>
                <ul class="tcvpb_shortcode_ul ">
                    <li>
                        <i class="el-el_check icon_color"></i>
                        <p class="p_tc">Offshore development</p>
                    </li>
                    <li>
                        <i class="el-el_check icon_color"></i>
                        <p class="p_tc">Project Management</p>
                    </li>
                    <li>
                        <i class="el-el_check icon_color"></i>
                        <p class="p_tc">Sharepoint Development</p>
                    </li>
                    <li>
                        <i class="el-el_check icon_color"></i>
                        <p class="p_tc">Mobile Technologies</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc section_with_header title_text_after background_color_light_grey">
    <header>
        <div class="tcvpb_container">
            <h3>
                Our Team
            </h3>
        </div>
    </header>
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span3">
                <div class="tcvpb_team_member ">
                    <div class="tcvpb_overlayed">
                        <img src="images/team-image1.jpg" alt="Jasmin Lopez">
                        <div class="tcvpb_overlay">
                            <p class="team_content"></p>
                            <p>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-facebook"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-twitter"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-linkedin"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-googleplus"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <a class="tcvpb_team_member_link tcvpb_team_member_modal_link" href="about-us-2.html">
                        <span class="tcvpb_team_member_name">Jasmin Lopez</span>
                        <span class="tcvpb_team_member_position">Creative developer</span>
                    </a>
                    <div class="tcvpb_team_member_modal">
                        <h4 class="tcvpb_team_member_name">
                            Jasmin Lopez
                        </h4>
                        <p class="tcvpb_team_member_position">Creative developer</p>
                        <div class="tcvpb_container">
                            <div class="tcvpb_column_tc_span6">
                                <img src="images/team-image1.jpg" alt="Jasmin Lopez">
                            </div>
                            <div class="tcvpb_column_tc_span6"></div>
                        </div>
                        <div class="tcvpb_team_member_modal_close">X</div>
                    </div>
                </div>
            </div>
            <div class="tcvpb_column_tc_span3">
                <div class="tcvpb_team_member ">
                    <div class="tcvpb_overlayed">
                        <img src="images/team-image2.jpg" alt="Jasmin Lopez">
                        <div class="tcvpb_overlay">
                            <p class="team_content"></p>
                            <p>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-facebook"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-twitter"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-linkedin"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-googleplus"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <a class="tcvpb_team_member_link tcvpb_team_member_modal_link" href="about-us-2.html">
                        <span class="tcvpb_team_member_name">Jasmin Lopez</span>
                        <span class="tcvpb_team_member_position">Creative developer</span>
                    </a>
                    <div class="tcvpb_team_member_modal">
                        <h4 class="tcvpb_team_member_name">
                            Jasmin Lopez
                        </h4>
                        <p class="tcvpb_team_member_position">Creative developer</p>
                        <div class="tcvpb_container">
                            <div class="tcvpb_column_tc_span6">
                                <img src="images/team-image2.jpg" alt="Jasmin Lopez">
                            </div>
                            <div class="tcvpb_column_tc_span6"></div>
                        </div>
                        <div class="tcvpb_team_member_modal_close">X</div>
                    </div>
                </div>
            </div>
            <div class="tcvpb_column_tc_span3">
                <div class="tcvpb_team_member ">
                    <div class="tcvpb_overlayed">
                        <img src="images/team-image3.jpg" alt="Jasmin Lopez">
                        <div class="tcvpb_overlay">
                            <p class="team_content"></p>
                            <p>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-facebook"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-twitter"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-linkedin"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-googleplus"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <a class="tcvpb_team_member_link tcvpb_team_member_modal_link" href="about-us-2.html">
                        <span class="tcvpb_team_member_name">Jasmin Lopez</span>
                        <span class="tcvpb_team_member_position">Creative developer</span>
                    </a>
                    <div class="tcvpb_team_member_modal">
                        <h4 class="tcvpb_team_member_name">
                            Jasmin Lopez
                        </h4>
                        <p class="tcvpb_team_member_position">Creative developer</p>
                        <div class="tcvpb_container">
                            <div class="tcvpb_column_tc_span6">
                                <img src="images/team-image3.jpg" alt="Jasmin Lopez">
                            </div>
                            <div class="tcvpb_column_tc_span6"></div>
                        </div>
                        <div class="tcvpb_team_member_modal_close">X</div>
                    </div>
                </div>
            </div>
            <div class="tcvpb_column_tc_span3">
                <div class="tcvpb_team_member ">
                    <div class="tcvpb_overlayed">
                        <img src="images/team-image4.jpg" alt="Jasmin Lopez">
                        <div class="tcvpb_overlay">
                            <p class="team_content"></p>
                            <p>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-facebook"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-twitter"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-linkedin"></i>
                                </a>
                                <a href="about-us-2.html" target="_self">
                                    <i class="ci_icon-googleplus"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <a class="tcvpb_team_member_link tcvpb_team_member_modal_link" href="about-us-2.html">
                        <span class="tcvpb_team_member_name">Jasmin Lopez</span>
                        <span class="tcvpb_team_member_position">Creative developer</span>
                    </a>
                    <div class="tcvpb_team_member_modal">
                        <h4 class="tcvpb_team_member_name">
                            Jasmin Lopez
                        </h4>
                        <p class="tcvpb_team_member_position">Creative developer</p>
                        <div class="tcvpb_container">
                            <div class="tcvpb_column_tc_span6">
                                <img src="images/team-image4.jpg" alt="Jasmin Lopez">
                            </div>
                            <div class="tcvpb_column_tc_span6"></div>
                        </div>
                        <div class="tcvpb_team_member_modal_close">X</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc aligncenter withBorderBottom section_with_header title_text_after">
    <header>
        <div class="tcvpb_container">
            <h3>
                HAPPY CLIENTS
            </h3>
        </div>
    </header>
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span12">
                <div class="ABt_testimonials_wrapper picture_middle">
                    <ul class="ABt_testimonials_slide" data-play="1" data-fx="crossfade" data-easing="swing" data-direction="left" data-duration="1000" data-pauseonhover="immediate" data-timeoutduration="5000">
                        <li class="testimonials_item">
                            <div class="testimonial_small">
                                <p>Good luck and keep it up! I have never seen such a great quality. Now I&rsquo;m going to rate this item 5 stars. Because it&rsquo;s awesome.</p>
                                <img width="75" height="73" src="images/testimonial_1.png" class="attachment-full size-full wp-post-image" alt="testimonial_1">
                                <span class="source">
                                    <span class="ABt_author">Mike Legend</span>
                                    <a class="ABt_company" href="about-us-2.html" target="_blank">CEO of Kukuruz</a>
                                </span>
                            </div>
                        </li>
                        <li class="testimonials_item">
                            <div class="testimonial_small">
                                <p>This WordPress Theme is just awesome! I&rsquo;ve never seen such a great design and attention to details. I will buy this template 999 times. Coz I think the author of this template deserve it!</p>
                                <img width="75" height="73" src="images/testimonial_2.png" class="attachment-full size-full wp-post-image" alt="testimonial_2">
                                <span class="source">
                                    <span class="ABt_author">Jennifer Doe</span>
                                    <a class="ABt_company" href="about-us-2.html" target="_blank">CEO of Design Group</a>
                                </span>
                            </div>
                        </li>
                        <li class="testimonials_item">
                            <div class="testimonial_small">
                                <p>We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious.</p>
                                <img width="75" height="75" src="images/testimonials4.png" class="attachment-full size-full wp-post-image" alt="testimonials4">
                                <span class="source">
                                    <span class="ABt_author">Christofer Spears</span>
                                    <a class="ABt_company" href="about-us-2.html" target="_blank">CEO of Company at Peafowl IT Solution</a>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="ABt_pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc tcvpb-centered section_no_column_margin section_equalize_5 no_padding_top_and_bottom66">
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span3 tcvpb-animo" data-animation="fadeInLeftBig" data-trigger_pt="0" data-duration="1000" data-delay="900">
                <div class="tcvpb-image ">
                    <img src="images/joomla-transparent1.png" alt="">
                </div>
            </div>
            <div class="tcvpb_column_tc_span3 tcvpb-animo" data-animation="fadeInLeftBig" data-trigger_pt="0" data-duration="1000" data-delay="600">
                <div class="tcvpb-image ">
                    <a href="about-us-2.html" target="_self">
                        <img src="images/wordpress-transparent1.png" alt="">
                    </a>
                </div>
            </div>
            <div class="tcvpb_column_tc_span2 tcvpb-animo" data-animation="fadeInUp" data-trigger_pt="0" data-duration="1000" data-delay="300">
                <div class="tcvpb-image ">
                    <a href="about-us-2.html" target="_self">
                        <img src="images/envato-transparent1.png" alt="">
                    </a>
                </div>
            </div>
            <div class="tcvpb_column_tc_span2 tcvpb-animo" data-animation="fadeInRightBig" data-trigger_pt="0" data-duration="1000" data-delay="600">
                <div class="tcvpb-image ">
                    <a href="about-us-2.html" target="_self">
                        <img src="images/windows8-transparent1.png" alt="">
                    </a>
                </div>
            </div>
            <div class="tcvpb_column_tc_span2 tcvpb-animo" data-animation="fadeInRightBig" data-trigger_pt="0" data-duration="1000" data-delay="900">
                <div class="tcvpb-image ">
                    <a href="about-us-2.html" target="_self">
                        <img src="images/jquery-transparent1.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc section_with_header title_text_after background_color_normal_grey">
    <header>
        <div class="tcvpb_container">
            <h3>
                History Of Our Company
            </h3>
        </div>
    </header>
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span12">
                <div class="tcvpb-tabs tcvpb-tabs-horizontal tcvpb-tabs-position-top tcvpb-tabs-timeline " data-selected="1" data-break_point="" data-effect="slide">
                    <ul class="nav nav-tabs tab-helper-reset tab-helper-clearfix" role="tablist">
                        <li role="presentation" class="active">
                            <a class="tcvpb-tabs-tab" data-href="#timeline-1-1" role="tab" data-toggle="tab" href="#">2000</a>
                        </li>
                        <li role="presentation">
                            <a class="tcvpb-tabs-tab" data-href="#timeline-1-2" role="tab" data-toggle="tab" href="#">2004</a>
                        </li>
                        <li role="presentation">
                            <a class="tcvpb-tabs-tab" data-href="#timeline-1-3" role="tab" data-toggle="tab" href="#">2008</a>
                        </li>
                        <li role="presentation">
                            <a class="tcvpb-tabs-tab" data-href="#timeline-1-4" role="tab" data-toggle="tab" href="#">2010</a>
                        </li>
                        <li role="presentation">
                            <a class="tcvpb-tabs-tab" data-href="#timeline-1-5" role="tab" data-toggle="tab" href="#">2014</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="timeline-1-1" class="tab-pane active_pane" role="tabpanel">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an unknown printer took.</p>
                        </div>
                        <div id="timeline-1-2" class="tab-pane" role="tabpanel">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <div id="timeline-1-3" class="tab-pane" role="tabpanel">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an unknown printer.</p>
                        </div>
                        <div id="timeline-1-4" class="tab-pane" role="tabpanel">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                        <div id="timeline-1-5" class="tab-pane" role="tabpanel">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc no_padding_top_and_bottom blue_box_background">
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span12">
                <div class="tcvpb-callout_box tcvpb-callout_box_style_2 white_text">
                    <span class="tcvpb-callout_box_title">ARE YOU READY FOR AWESOMENESS? THIS IS A CALL TO ACTION</span>
                    <p class="p_tc">You can put any important content here. We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious.</p>
                    <a href="about-us-2.html" target="_self" class="tcvpb-button1 tcvpb-button_rounded tcvpb-button_medium tcvpb-button_transparent">PURCHASE NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>

