@model PeafowlIT_MVC.Models.Mail
@{
    ViewBag.Title = "Contact";
}
<section id="headline_breadcrumbs_bar" class="pattern_overlayed">
    <div class="container">
        <div class="row">
            <div class="span12 center_aligned">
                <h2>
                    Contact US
                </h2>
            </div>
            <div class="span12 center_aligned">
                <div class="breadcrumbs">
                    <a href="#">Home</a>
                    <span class="circle_delimiter"></span>
                    <span class="current">Contact</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="default_page_row" class="container">
    <div class="row">
        <div class="full_width span12 content ">
            <section class="tcvpb_section_tc no_padding_bottom">
                <div class="tcvpb_section_content">
                    <div class="tcvpb_container">
                        <div class="tcvpb_column_tc_span8 form_padding">
                            <div class="tcvpb_google_map_wrapper">
                                <div id="tcvpb_google_map_1" data-map_type="ROADMAP" data-auto_center_zoom="1" data-lat="40.7142700" data-lng="-74.0059700" data-zoom="11" data-scrollwheel="0" data-maptypecontrol="1" data-pancontrol="1" data-zoomcontrol="1" data-scalecontrol="1" class="tcvpb_google_map google_map_style_3"></div>
                                <div class="tcvpb_google_map_marker" data-title="Our Company" data-icon="images/map-icon.png" data-lat="40.7142700" data-lng="-74.0059700">
                                    <h5>
                                        Subtitle
                                    </h5>
                                    <p class="no_margin_bottom">Adress example</p>
                                    <p class="no_margin_bottom">Tel: Telephone 1</p>
                                    <p class="no_margin_bottom">Tel(2): Telephone 2</p>
                                    <p class="no_margin_bottom">Fax: Fax example</p>
                                    <p class="no_margin_bottom">E-mail: <a href="#">inspirado@gmail.com</a></p>
                                </div>
                                <div class="tcvpb_google_map_marker" data-title="Our Company" data-icon="images/map-icon-small.png" data-lat="40.8127837" data-lng="-74.0059700">
                                    <h5>
                                        Subtitle
                                    </h5>
                                    <p class="no_margin_bottom">Adress example</p>
                                    <p class="no_margin_bottom">Tel: Telephone 1</p>
                                    <p class="no_margin_bottom">Tel(2): Telephone 2</p>
                                    <p class="no_margin_bottom">Fax: Fax example</p>
                                    <p class="no_margin_bottom">E-mail: <a href="#">inspirado@gmail.com</a></p>
                                </div>
                                <div class="tcvpb_google_map_marker" data-title="Our Company" data-icon="images/map-icon-small.png" data-lat="40.8127837" data-lng="-74.09594130000002">
                                    <h5>
                                        Subtitle
                                    </h5>
                                    <p class="no_margin_bottom">Adress example</p>
                                    <p class="no_margin_bottom">Tel: Telephone 1</p>
                                    <p class="no_margin_bottom">Tel(2): Telephone 2</p>
                                    <p class="no_margin_bottom">Fax: Fax example</p>
                                    <p class="no_margin_bottom">E-mail: <a href="#">inspirado@gmail.com</a></p>
                                </div>
                                <div class="tcvpb_google_map_marker" data-title="Our Company" data-icon="images/map-icon-small.png" data-lat="40.6142700" data-lng="-74.0059700">
                                    <h5>
                                        Subtitle
                                    </h5>
                                    <p class="no_margin_bottom">Adress example</p>
                                    <p class="no_margin_bottom">Tel: Telephone 1</p>
                                    <p class="no_margin_bottom">Tel(2): Telephone 2</p>
                                    <p class="no_margin_bottom">Fax: Fax example</p>
                                    <p class="no_margin_bottom">E-mail: <a href="#">inspirado@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="tcvpb_column_tc_span4">
                            <h6 class=" title_with_after">
                                INFORMATION
                            </h6>
                            <div class="">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="table_info">
                                                    <i class="el-el_pin table_info_style"></i>
                                                </span>
                                            </td>
                                            <td>Titanium city center, NR.Sachin Tower, Anand Nagar, 100 Feet Rd, Jodhpur, Ahmedabad, Gujarat 380015
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table_info">
                                                    <i class="el-el_mail table_info_style"></i>
                                                </span>
                                            </td>
                                            <td>info@peafowlit.com</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table_info">
                                                    <i class="el-el_phone table_info_style"></i>
                                                </span>
                                            </td>
                                            <td>+91 7622943379</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h6 class="info_head ">
                                BUSINESS HOURS
                            </h6>
                            <div class="">
                                Monday &ndash; Friday: 10am to 7pm
                                <br>
                                Saturday: day off
                                <br>
                                Sunday: day off
                            </div>
                            <span class="clear spacer_45"></span>
                            <div class="tcvpb_follow_us ">
                                <a class="tcvpb_socialicon tcvpb_tooltip" data-gravity="s" href="contact-3.html" target="_self" title=" Follow us on Facebook">
                                    <i class="el-social_facebook"></i>
                                </a>
                                <a class="tcvpb_socialicon tcvpb_tooltip" data-gravity="s" href="contact-3.html" target="_self" title=" Follow us on Twitter">
                                    <i class="el-social_twitter"></i>
                                </a>
                                <a class="tcvpb_socialicon tcvpb_tooltip" data-gravity="s" href="contact-3.html" target="_self" title=" Follow us on Google+">
                                    <i class="el-social_googleplus"></i>
                                </a>
                                <a class="tcvpb_socialicon tcvpb_tooltip" data-gravity="s" href="contact-3.html" target="_self" title=" Follow us on Instagram">
                                    <i class="el-social_instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="tcvpb_section_tc section_with_header title_text_after">
                <header>
                    <div class="tcvpb_container">
                        <h3>
                            DROP US A LINE
                        </h3>
                    </div>
                </header>
                <div class="tcvpb_section_content">
                    <div class="tcvpb_container">
                        <div class="tcvpb_column_tc_span12">
                            <div role="form" class="wpcf7" id="wpcf7-f3165-p3162-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"></div>
                                @using (Html.BeginForm("SendMail", null, FormMethod.Post, new { id = "_Form", @class = "wpcf7-form" }))
                                {

                                    @*<form action="#" method="post" class="wpcf7-form" novalidate="novalidate">*@
                                        <div class="hide">
                                            <input type="hidden" name="_wpcf7" value="3165">
                                            <input type="hidden" name="_wpcf7_version" value="4.3.1">
                                            <input type="hidden" name="_wpcf7_locale" value="en_US">
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3165-p3162-o1">
                                            <input type="hidden" name="_wpnonce" value="ff6d7b4ab3">
                                        </div>
                                        <div class="row">
                                            <div class="span4">
                                                <span class="wpcf7-form-control-wrap your-name">
                                                    <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name">
                                                </span>
                                            </div>
                                            <div class="span4"> 
                                                <span class="wpcf7-form-control-wrap your-email">
                                                    <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email">
                                                </span>
                                            </div>
                                            <div class="span4">
                                                <span class="wpcf7-form-control-wrap your-subject">
                                                    <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <span class="wpcf7-form-control-wrap your-message">
                                                <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea>
                                            </span>
                                            <br>
                                            <input type="submit" value="SEND" class="wpcf7-form-control wpcf7-submit">
                                        </div>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    @*</form>*@
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- end span9 main-content -->
    </div>
    <!-- end row -->
</div>
