@{
    ViewBag.Title = "Home Page";
}


<section id="ABdev_main_slider">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="home_slider" style="background-color:#E9E9E9;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
        <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.4">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/rs-plugin/assets/slider1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/rs-plugin/assets/slider1.jpg" alt="" width="1942" height="1295" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption mediumlightwhite2   tp-resizeme" id="slide-1-layer-1" data-x="center" data-hoffset="0" data-y="295" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; color: rgba(255, 255, 255, 1.00);border-color:rgba(255, 255, 255, 1.00);">
                        ARE YOU READY TO GROW
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption largeboldwhite2   tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="-20" data-y="center" data-voffset="-70" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00);border-color:rgba(255, 255, 255, 1.00);">
                        YOUR BUSINESS WITH US
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption small_light_white   tp-resizeme" id="slide-1-layer-3" data-x="center" data-hoffset="0" data-y="center" data-voffset="2" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;font-style:italic;border-color:rgba(255, 255, 255, 1.00);">
                        This Template Contain Everything that You Need to Grow Your Business
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption small_light_white_text   tp-resizeme" id="slide-1-layer-4" data-x="center" data-hoffset="0" data-y="center" data-voffset="102" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:800;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap;border-color:rgba(240, 240, 240, 1.00);">
                        <a href='#' class='inspirado_transparent_button'>Learn about us</a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/rs-plugin/assets/slider2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/rs-plugin/assets/slider2.jpg" alt="" width="1919" height="1199" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_white_hom_2   tp-resizeme" id="slide-2-layer-1" data-x="90" data-y="280" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:500;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;border-color:rgba(255, 214, 88, 1.00);">
                        INSPIRADO IS THE BEST PSD PACKAGE<br>
                        ELEGANT SHOP ALSO INCLUDED
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption smalllightwhitetextsl2   tp-resizeme" id="slide-2-layer-2" data-x="73" data-y="center" data-voffset="-70" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:500;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; color: rgba(240, 240, 240, 1.00);padding:18px 20px 18px 20px;border-color:rgba(240, 240, 240, 1.00);">
                        PERFECTLY SUITS FOR CORPORATE AGENCY,<br>
                        BUSUNESS COMPANY,  FREELANCERS
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme" id="slide-2-layer-3" data-x="right" data-hoffset="-50" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="y:top;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:800;" data-start="1000" data-responsive_offset="on" style="z-index: 7;">
                        <img src="~/rs-plugin/assets/mockup.png" alt="" width="655" height="700" data-no-retina>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption small_light_white_text   tp-resizeme" id="slide-2-layer-4" data-x="74" data-y="center" data-voffset="45" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:800;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap;border-color:rgba(240, 240, 240, 1.00);">
                        <a href='#' class='inspirado_transparent_button'>Purchase now</a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-3" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/rs-plugin/assets/slider3-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/rs-plugin/assets/slider3.jpg" alt="" width="1943" height="1397" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption small_light_white   tp-resizeme" id="slide-3-layer-1" data-x="center" data-hoffset="0" data-y="center" data-voffset="-70" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;font-style:italic;border-color:rgba(255, 255, 255, 1.00);">
                        We Know That We Are Creative
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption largeboldwhite2   tp-resizeme" id="slide-3-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00);border-color:rgba(255, 255, 255, 1.00);">
                        ABSOLUTELY AWESOME AGENCY
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption smallsubtitlehom3   tp-resizeme" id="slide-3-layer-3" data-x="center" data-hoffset="0" data-y="center" data-voffset="80" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;border-color:rgba(255, 255, 255, 1.00);">
                        Inspirado Best Solution For Your Business. This template created with love and attention to detail.<br>
                        Perfectly suits for all kind business 3 home page included in PSD package
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption small_light_white_text   tp-resizeme" id="slide-3-layer-4" data-x="center" data-hoffset="0" data-y="center" data-voffset="180" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:800;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap;border-color:rgba(240, 240, 240, 1.00);">
                        <a href='#' class='inspirado_transparent_button'>Purchase now</a>
                    </div>
                </li>
            </ul>
            <div class="tp-static-layers"></div>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</section>

<section class="tcvpb_section_tc section_no_column_margin section_with_header intro_text_after section_bg">
    <header>
        <div class="tcvpb_container">
            <h3>AWESOME SERVICES</h3>
            <p>This Template Contains Everything that You Need for Grow Your Business Stand Out From the Crowd With Our Template</p>
        </div>
    </header>
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span3">
                <div class="tcvpb_metro_box ">
                    <div class="flipper">
                        <div class="front white_background">
                            <div class="tcvpb_metro_box_header">
                                <a href="#" target="_self" class="tcvpb_icon_boxed">
                                    <i class=" icon_color transparent_background"><img src="~/images/software-icon-100x100.png" /></i>
                                </a>
                                <a href="#" target="_self">
                                    <h3>Software Development</h3>
                                </a>
                            </div>
                            <div>
                                <p>This template contains everything that you need for grow yor business stand out from the crowd with us.</p>
                            </div>
                        </div>
                        <div class="back blue_box_background">
                            <a href="#" target="_self"></a>
                            <h3>FRIENDLY SUPPORT</h3>
                            <p class="p_tc">This template contains everything that you need for grow yor business stand out from the crowd with us.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tcvpb_column_tc_span3">
                <div class="tcvpb_metro_box ">
                    <div class="flipper">
                        <div class="front white_background">
                            <div class="tcvpb_metro_box_header">
                                <a href="#" target="_self" class="tcvpb_icon_boxed">
                                   <i class="icon_color transparent_background"><img src="~/images/webdev-icon-100x100.png" /></i>
                                </a>
                                <a href="#" target="_self">
                                    <h3>Web Development</h3>
                                </a>
                            </div>
                            <div>
                                <p>This template contains everything that you need for grow yor business stand out from the crowd with us.</p>
                            </div>
                        </div>
                        <div class="back blue_box_background">
                            <a href="#" target="_self"></a>
                            <h3>FRIENDLY SUPPORT</h3>
                            <p class="p_tc">This template contains everything that you need for grow yor business stand out from the crowd with us.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tcvpb_column_tc_span3">
                <div class="tcvpb_metro_box ">
                    <div class="flipper">
                        <div class="front white_background">
                            <div class="tcvpb_metro_box_header">
                                <a href="#" target="_self" class="tcvpb_icon_boxed">
                                    <i class="icon_color transparent_background"><img src="~/images/games-icon_100.png" /></i>
                                </a>
                                <a href="#" target="_self">
                                    <h3>Game Development</h3>
                                </a>
                            </div>
                            <div>
                                <p>This template contains everything that you need for grow yor business stand out from the crowd with us.</p>
                            </div>
                        </div>
                        <div class="back blue_box_background">
                            <a href="#" target="_self"></a>
                            <h3>FRIENDLY SUPPORT</h3>
                            <p class="p_tc">This template contains everything that you need for grow yor business stand out from the crowd with us.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tcvpb_column_tc_span3">
                <div class="tcvpb_metro_box ">
                    <div class="flipper">
                        <div class="front white_background">
                            <div class="tcvpb_metro_box_header">
                                <a href="#" target="_self" class="tcvpb_icon_boxed">
                                    <i class="icon_color transparent_background"><img src="~/images/Staff_100.png" /></i>
                                </a>
                                <a href="#" target="_self">
                                    <h3>Hire Dedicated Staff</h3>
                                </a>
                            </div>
                            <div>
                                <p>This template contains everything that you need for grow yor business stand out from the crowd with us.</p>
                            </div>
                        </div>
                        <div class="back blue_box_background">
                            <a href="#" target="_self"></a>
                            <h3>FRIENDLY SUPPORT</h3>
                            <p class="p_tc">This template contains everything that you need for grow yor business stand out from the crowd with us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc section_body_fullwidth section_with_header intro_text_after">
    <header>
        <div class="tcvpb_container">
            <h3>OUR RECENT WORKS</h3>
            <p>This Template Contains Everything that You Need for Grow Your Business Stand Out From the Crowd With Our Template</p>
        </div>
    </header>
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span12">
                <div class="ABdev_latest_portfolio clearfix">
                    <div class="portfolio_front portfolio_item portfolio_item_3  nature outdoors">
                        <div class="overlayed">
                            <img width="1170" height="841" src="~/images/image1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="image1" srcset="~/images/image1-300x216.jpg 300w, ~/images/image1-1024x736.jpg 1024w, ~/images/image1.jpg 1170w" sizes="(max-width: 1170px) 100vw, 1170px" />
                            <div class="overlay">
                                <p class="overlay_title">Red Canyon</p>
                                <p class="portfolio_item_tags">
                                    Nature, Outdoors
                                </p>
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon" title="View image" data-lightbox="portfolio" data-title="Red Canyon" href="~/images/image1.jpg">
                                        <i class="ci_icon-look"></i>
                                    </a>
                                    <a class="portfolio_icon" title="Go to portfolio" href="single-portfolio.html">
                                        <i class="ci_icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_front portfolio_item portfolio_item_3  outdoors">
                        <div class="overlayed">
                            <img width="1170" height="841" src="~/images/image2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="image2" srcset="~/images/image2-300x216.jpg 300w, ~/images/image2-1024x736.jpg 1024w, ~/images/image2.jpg 1170w" sizes="(max-width: 1170px) 100vw, 1170px" />
                            <div class="overlay">
                                <p class="overlay_title">Tunnel in the forest</p>
                                <p class="portfolio_item_tags">
                                    Outdoors
                                </p>
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon" title="View image" data-lightbox="portfolio" data-title="Tunnel in the forest" href="~/images/image2.jpg">
                                        <i class="ci_icon-look"></i>
                                    </a>
                                    <a class="portfolio_icon" title="Go to portfolio" href="single-portfolio-with-slider.html">
                                        <i class="ci_icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_front portfolio_item portfolio_item_3  outdoors scenery">
                        <div class="overlayed">
                            <img width="1170" height="841" src="~/images/image3.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="image3" srcset="~/images/image3-300x216.jpg 300w, ~/images/image3-1024x736.jpg 1024w, ~/images/image3.jpg 1170w" sizes="(max-width: 1170px) 100vw, 1170px" />
                            <div class="overlay">
                                <p class="overlay_title">Starry night</p>
                                <p class="portfolio_item_tags">
                                    Outdoors, Scenery
                                </p>
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon" title="View image" data-lightbox="portfolio" data-title="Starry night" href="~/images/image3.jpg">
                                        <i class="ci_icon-look"></i>
                                    </a>
                                    <a class="portfolio_icon" title="Go to portfolio" href="single-portfolio-with-gallery.html">
                                        <i class="ci_icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more_portfolio_link">
                    <a href="#">View our portfolio</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tcvpb_section_tc tcvpb-centered tcvpb-inversed_text tcvpb-parallax inspirado_parallax_image1" data-background_image="~/images/parallax-image1.jpg" data-parallax="0">
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span12">
                <span class="clear spacer_30"></span>
                <div class="with_lines">
                    <p class="p_tc">Are You Ready To Begin?</p>
                </div>
                <h2 class=" ">WE CAN HELP YOU GROW YOUR BUSINESS</h2>
                <span class="clear spacer_10"></span>
                <a href="#" target="_self" class="tcvpb-button tcvpb-button_transparent tcvpb-button_medium ">GET STARTED</a>
                <span class="clear spacer_30"></span>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc section_no_column_margin section_equalize_5 padding_top_29 padding_bottom_23 section_bg">
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span3">
                <div class="tcvpb_stats_excerpt ">
                    <i class="s7-like icon_color"></i>
                    <span class="tcvpb_stats_number number_color" data-number="3568" data-duration="1500" data-trigger_pt="0"></span>
                    <p>Client satisfaction</p>
                </div>
            </div>
            <div class="tcvpb_column_tc_span3">
                <div class="tcvpb_stats_excerpt ">
                    <i class="s7-coffee icon_color"></i>
                    <span class="tcvpb_stats_number number_color" data-number="1254" data-duration="1500" data-trigger_pt="0"></span>
                    <p>Cofee cups</p>
                </div>
            </div>
            <div class="tcvpb_column_tc_span2">
                <div class="tcvpb_stats_excerpt ">
                    <i class="s7-portfolio icon_color"></i>
                    <span class="tcvpb_stats_number number_color" data-number="4789" data-duration="1500" data-trigger_pt="0"></span>
                    <p>Project completed</p>
                </div>
            </div>
            <div class="tcvpb_column_tc_span2">
                <div class="tcvpb_stats_excerpt ">
                    <i class="s7-alarm icon_color"></i>
                    <span class="tcvpb_stats_number number_color" data-number="2346" data-duration="1500" data-trigger_pt="0"></span>
                    <p>Hours of work</p>
                </div>
            </div>
            <div class="tcvpb_column_tc_span2">
                <div class="tcvpb_stats_excerpt ">
                    <i class="s7-cup icon_color"></i>
                    <span class="tcvpb_stats_number number_color" data-number="5789" data-duration="1500" data-trigger_pt="0"></span>
                    <p>Awards wined</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc section_body_fullwidth no_padding_top_and_bottom">
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span5">
                <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="about_us_slider" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.1.4 auto mode -->
                    <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.4">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-14" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/rs-plugin/assets/about_us2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="~/rs-plugin/assets/about_us2.jpg" alt="" width="755" height="542" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-10" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/rs-plugin/assets/about_us-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="~/rs-plugin/assets/about_us.jpg" alt="" width="755" height="542" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div><!-- END REVOLUTION SLIDER -->
            </div>
            <div class="tcvpb_column_tc_span5">
                <span class="clear spacer_40"></span>
                <h2 class=" title_with_after">ABOUT US</h2>
                <div class="bigger_text">
                    <p class="p_tc">Come up with innovative ideas for grow your business. Our technologies help will rise your business to a next level.</p>
                </div>
                <div class="">
                    <p class="p_tc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore labore et dolore magnam voluptatem.</p>
                </div>
            </div>
            <div class="tcvpb_column_tc_span2"></div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc section_with_header title_text_after section_bg">
    <header>
        <div class="tcvpb_container">
            <h3>OUR HAPPY CLIENTS</h3>
        </div>
    </header>
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span12">
                <div class="ABt_testimonials_wrapper picture_middle">
                    <ul class="ABt_testimonials_slide" data-play="1" data-fx="crossfade" data-easing="swing" data-direction="left" data-duration="1000" data-pauseonhover="immediate" data-timeoutduration="5000">
                        <li class="testimonials_item">
                            <div class="testimonial_small">
                                <p>Good luck and keep it up! I have never seen such a great quality. Now I’m going to rate this item 5 stars. Because it’s awesome.</p>
                                <img width="75" height="73" src="~/images/testimonial_1.png" class="attachment-full size-full wp-post-image" alt="testimonial_1" />
                                <span class="source">
                                    <span class="ABt_author">Mike Legend</span>
                                    <a class="ABt_company" href="elements-testimonial-sliders.html" target="_blank">CEO of Kukuruz</a>
                                </span>
                            </div>
                        </li>
                        <li class="testimonials_item">
                            <div class="testimonial_small">
                                <p>This WordPress Theme is just awesome! I’ve never seen such a great design and attention to details. I will buy this template 999 times. Coz I think the author of this template deserve it!</p>
                                <img width="75" height="73" src="~/images/testimonial_2.png" class="attachment-full size-full wp-post-image" alt="testimonial_2" />
                                <span class="source">
                                    <span class="ABt_author">Jennifer Doe</span>
                                    <a class="ABt_company" href="elements-testimonial-sliders.html" target="_blank">CEO of Design Group</a>
                                </span>
                            </div>
                        </li>
                        <li class="testimonials_item">
                            <div class="testimonial_small">
                                <p>We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious.</p>
                                <img width="75" height="75" src="~/images/testimonials4.png" class="attachment-full size-full wp-post-image" alt="testimonials4" />
                                <span class="source">
                                    <span class="ABt_author">Christofer Spears</span>
                                    <a class="ABt_company" href="elements-testimonial-sliders.html" target="_blank">CEO of Company at Inspirado</a>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="ABt_pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc padding_top_25 padding_bottom_25 white_background">
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span12">
                <span class="clear spacer_35"></span>
                <div class="tcvpb-carousel " data-autoplay="1" data-items="1" data-effect="scroll" data-easing="linear" data-duration="800">
                    <ul class="clearfix">
                        <li>
                            <img src="~/images/themeforest.jpg" alt="themeforest">
                        </li>
                        <li>
                            <img src="~/images/wordpress.jpg" alt="wordpress">
                        </li>
                        <li>
                            <img src="~/images/envato.jpg" alt="envato">
                        </li>
                        <li>
                            <img src="~/images/windows8.jpg" alt="windows8">
                        </li>
                        <li>
                            <img src="~/images/jquery.jpg" alt="jQuery">
                        </li>
                        <li>
                            <img src="~/images/themeforest.jpg" alt="jQuery">
                        </li>
                        <li>
                            <img src="~/images/wordpress.jpg" alt="jQuery">
                        </li>
                        <li>
                            <img src="~/images/envato.jpg" alt="jQuery">
                        </li>
                    </ul>
                    <div class="carousel_navigation ">
                        <a href="#" class="carousel_prev">
                            <i class="s7-angle-left"></i>
                        </a>
                        <a href="#" class="carousel_next">
                            <i class="s7-angle-right"></i>
                        </a>
                    </div>
                </div>
                <span class="clear spacer_35"></span>
            </div>
        </div>
    </div>
</section>
<section class="tcvpb_section_tc no_padding_top_and_bottom blue_box_background">
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span12">
                <div class="tcvpb-callout_box tcvpb-callout_box_style_4  white_text">
                    <span class="tcvpb-callout_box_title">ARE YOU READY TO PURCHASE THIS AWESOME TEMPLATE NOW? THIS IS A CALL TO ACTION</span>
                    <a href="#" target="_self" class="tcvpb-button1 tcvpb-button_normal tcvpb-button_small tcvpb-button_transparent">PURCHASE NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>
